# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE files
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# DeepFace downloaded cache (optional)
.deepface/

# Temporary output images
images/output/